    <div class="footer-wrapper">
      <div class="row">
        <div class="large-7 columns">
          <ul class="small-block-grid-4 large-block-grid-8">
            <li><img src="/images/laurel-01-new-hampshire.png" alt=""></li>
            <li><img src="/images/laurel-02-international.png" alt=""></li>
            <li><img src="/images/laurel-03-mountainfilm.png" alt=""></li>
            <li><img src="/images/laurel-04-independent.png" alt=""></li>
            <li><img src="/images/laurel-05-nantucket.png" alt=""></li>
            <li><img src="/images/laurel-06-film.png" alt=""></li>
            <li><img src="/images/laurel-07-jackson.png" alt=""></li>
            <li><img src="/images/laurel-08-indiefest.png" alt=""></li>
          </ul>
          <p>&copy; 2014 Lantern Films</p>
        </div>
      </div>
    </div>