<div class="tabs-content vertical">
  <div class="content active" id="home">
    <p>Home content goes here.</p>
  </div>
  <div class="content" id="about">
    <p>About content goes here.</p>
  </div>
  <div class="content" id="trailer">
    <p>Trailer content goes here.</p>
  </div>
  <div class="content" id="screenings">
    <p>Screenings content goes here.</p>
  </div>
  <div class="content" id="press">
    <p>Press 4 content goes here.</p>
  </div>
  <div class="content" id="Contact">
    <p>Contact content goes here.</p>
  </div>
</div>
