        <ul class="side-nav">
            <li{% if page.section == "trailer" %} class="active"{% endif %}><a href="/trailer">Trailer</a></li>
            <li{% if page.section == "about" %} class="active"{% endif %}><a href="/about">About</a></li>
            <li{% if page.section == "photos" %} class="active"{% endif %}><a href="/photos">Photos</a></li>
            <li{% if page.section == "press" %} class="active"{% endif %}><a href="/press">Press</a></li>
            <li{% if page.section == "contact" %} class="active"{% endif %}><a href="/contact">Contact</a></li>
            <li{% if page.section == "watch" %} class="active"{% endif %}><a href="/buy">Watch the Film</a></li>
        </ul>