---
layout: section
title: Screenings
---

<dl class="tabs horizontal" data-tab>
{% for post in site.categories.screenings %}
<dd><a href="#{{ post.title | downcase | split: " " | join: "-" }}">{{ post.title }}</a></dd>
{% endfor %}
</dl>
<div id="screenings">
  <div class="tabs-content horizontal">
    {% for post in site.categories.screenings %}
    <div class="content" id="{{ post.title | downcase | split: " " | join: "-" }}">
      {{ post.content }}
    </div>
    {% endfor %}
  </div>
</div>
