---
layout: section
title: Buy
---

<ul class="tabs horizontal" data-tab>
{% for post in site.categories.buy %}
<li class="tab-title{% if forloop.first == true %} active {% endif %}"><a href="#{{ post.title | downcase | split: " " | join: "-" }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
<div id="buy" class="contentblock">
  <div class="tabs-content horizontal">
    {% for post in site.categories.buy %}
    <div class="content{% if forloop.first %} active{% endif %}" id="{{ post.title | downcase | split: " " | join: "-" }}">
      {{ post.content }}
    </div>
    {% endfor %}
  </div>
</div>
