---
layout: section
title: Trailer
---

<ul class="tabs horizontal" data-tab>
{% for post in site.categories.trailer %}
<li class="tab-title{% if forloop.first == true %} active {% endif %}"><a href="#{{ post.title | downcase | split: " " | join: "-" }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
<div id="trailer" class="contentblock">
  <div class="tabs-content horizontal">
    {% for post in site.categories.trailer %}
    <div class="content{% if forloop.first %} active{% endif %}" id="{{ post.title | downcase | split: " " | join: "-" }}">
    	<div class="flex-video widescreen vimeo ">
		  	{{ post.content }}
		</div>
    </div>
    {% endfor %}
  </div>
</div>
