---
layout: section
title: Trailer
---

<dl class="tabs horizontal" data-tab>
{% for post in site.categories.trailer %}
<dd><a href="#{{ post.title | downcase | split: " " | join: "-" }}">{{ post.title }}</a></dd>
{% endfor %}
</dl>
<div id="trailer">
  <div class="tabs-content horizontal">
    {% for post in site.categories.trailer %}
    <div class="content{% if forloop.first %} active{% endif %}" id="{{ post.title | downcase | split: " " | join: "-" }}">
      {{ post.content }}
    </div>
    {% endfor %}
  </div>
</div>
