{% include header.html %}
<body>
  <div class="row">
    <div class="large-12 columns" id="header" style="height:50px;">
    &nbsp;
    </div>
  </div>
  <div class="row">
    <div class="large-5 columns" id="brand">
      {% include brand.html %}
    </div><!-- end brand column -->
    <div class="large-2 columns" id="navigation">
    <dl class="tabs vertical" data-tab>
        <dd><a href="#trailer">Trailer</a></dd>
        <dd><a href="#about">About</a></dd>
        <dd><a href="#photos">Photos</a></dd>
        <dd><a href="#press">Press</a></dd>
        <dd><a href="#screenings">Screenings</a></dd>
        <dd><a href="#contact">Contact</a></dd>
        <dd><a href="#buy">Buy the DVD</a></dd>
    </dl>
    </div>
    <div class="large-5 columns" id="maincontent">
      <div class="tabs-content">
        <div class="content active" id="home">
          {% for post in site.categories.home %}
            {{ post.content }}
          {% endfor %}
        </div>
        <div class="content" id="about">
          {% for post in site.categories.about %}
            <a href="{{ post.link }}">{{ post.title}}</a>
            {{ post.content }}
          {% endfor %}
        </div>
        <div class="content" id="trailer">
          {% for post in site.categories.trailer %}
            <a href="{{ post.link }}">{{ post.title}}</a>
            {{ post.content }}
          {% endfor %}
        </div>
        <div class="content" id="screenings">
          {% for post in site.categories.screenings %}
            <a href="{{ post.link }}">{{ post.title}}</a>
            {{ post.content }}
          {% endfor %}
        </div>
        <div class="content" id="press">
          {% for post in site.categories.press %}
            <a href="{{ post.link }}">{{ post.title}}</a>
            {{ post.content }}
          {% endfor %}
        </div>
        <div class="content" id="contact">
          {% for post in site.categories.contact %}
            <a href="{{ post.link }}">{{ post.title}}</a>
            {{ post.content }}
          {% endfor %}
        </div>
        <div class="content" id="buy">
          {% for post in site.categories.buy %}
            <a href="{{ post.link }}">{{ post.title}}</a>
            {{ post.content }}
          {% endfor %}
        </div>
      </div>
    </div>
    <!-- end content column -->
 <!-- end content row -->
{% include footer.html %}
